In [2]:
import pandas as pd
import numpy as np

# df_head

In [5]:
df=pd.read_excel('ghecode2019.xlsx',sheet_name='Summary')

In [6]:
df_head=df.iloc[0:204,0:3].copy()

In [7]:
df_head

     code  level                                              cause
0       0      0                                         All Causes
1       1      1  Communicable, maternal, perinatal and nutritio...
2      1A      2                  Infectious and parasitic diseases
3    1A01      3                                       Tuberculosis
4    1A02      3                                 STDs excluding HIV
..    ...    ...                                                ...
199  3A08      3                       Other unintentional injuries
200    3B      2                               Intentional injuries
201  3B01      3                                          Self-harm
202  3B02      3                             Interpersonal violence
203  3B03      3         Collective violence and legal intervention

[204 rows x 3 columns]

# ARF as head row

In [47]:
df_2019_afr=pd.read_excel('ghecode2019.xlsx',sheet_name='2019 Afr',skiprows=6)
df_2019_afr.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Sex,Both sexes,Male,Female,Male.1,...,Unnamed: 15,Unnamed: 16,Female.1,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,Age group,Total (all ages),NaN,NaN,0-28 days,...,60-69 years,70+ years,0-28 days,1-59 months,5-14 years,15-29 years,30-49 years,50-59 years,60-69 years,70+ years
1,Population (thousands),NaN,NaN,NaN,NaN,NaN,1091758.856,545008.354,546750.502,1496.265,...,15845.098,8486.128,1452.037,82448.383,141633.964,148732.817,113455.218,29654.901,18197.78,11175.402
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Code,Cause of death,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,NaN,All Causes,NaN,NaN,NaN,7786394,4204381.000,3582014.000,566870,...,473643,673246,444077,785903,217850,220578,488315,298581,381070,745639

In [45]:
df_2019_afr_all=df_2019_afr.iloc[4:,6:9].copy()
df_2019_afr_all = df_2019_afr_all.reset_index(drop=True)

In [46]:
df_2019_afr_all=pd.concat([df_head,df_2019_afr_all],axis=1)
df_2019_afr_all.fillna(0, inplace=True)
df_2019_afr_all

,code,level,cause,Both sexes,Male,Female
0,0,0,All Causes,7786394,4204381.0,3582014.0
1,1,1,"Communicable, maternal, perinatal and nutritio...",4121960,2199533.0,1922427.0
2,1A,2,Infectious and parasitic diseases,2263543,1229468.0,1034075.0
3,1A01,3,Tuberculosis,378193,234226.0,143967.0
4,1A02,3,STDs excluding HIV,30316,17400.0,12916.0
...,...,...,...,...,...,...
199,3A08,3,Other unintentional injuries,111137,67413.0,43724.0
200,3B,2,Intentional injuries,195315,148501.0,46814.0
201,3B01,3,Self-harm,75380,57510.0,17870.0
202,3B02,3,Interpersonal violence,109599,83876.0,25723.0
203,3B03,3,Collective violence and legal intervention,10336,7114.0,3221.0

In [66]:

df_2019_afr_male=df_2019_afr.iloc[4:,9:17].copy()

df_2019_afr_male = df_2019_afr_male.reset_index(drop=True)
df_2019_afr_male.columns=['0-28 days','1-59 months','5-14 years','15-29 years','30-49 years','50-59 years',
                                 '60-69 years','70+ years']
df_head_1=df_head.copy()
df_head_1['sex']=['Male']*len(df_2019_afr_male)
df_2019_afr_male=pd.concat([df_head_1,df_2019_afr_male],axis=1)
df_2019_afr_male.fillna(0, inplace=True)
# df_2019_afr_male

df_2019_afr_female=df_2019_afr.iloc[4:,17:].copy()
df_2019_afr_female = df_2019_afr_female.reset_index(drop=True)
df_2019_afr_female.columns=['0-28 days','1-59 months','5-14 years','15-29 years','30-49 years','50-59 years',
                                 '60-69 years','70+ years']
df_head_2=df_head.copy()
df_head_2['sex']=['Female']*len(df_2019_afr_female)
df_2019_afr_female=pd.concat([df_head_2,df_2019_afr_female],axis=1)
df_2019_afr_female.fillna(0, inplace=True)
# df_2019_afr_female

In [67]:
df_2019_afr_male

,code,level,cause,sex,0-28 days,1-59 months,5-14 years,15-29 years,30-49 years,50-59 years,60-69 years,70+ years
0,0,0,All Causes,Male,566870,909470,255877,295878,621960,407436,473643,673246
1,1,1,"Communicable, maternal, perinatal and nutritio...",Male,512311,746611,146329,120625,283877,133086,112738,143958
2,1A,2,Infectious and parasitic diseases,Male,28088,463168,126212,110067,253957,105320,72599,70056
3,1A01,3,Tuberculosis,Male,0,24355,9620,40826,88344,37140,18274,15667
4,1A02,3,STDs excluding HIV,Male,6945,9462,308,48,218,238,115,65
...,...,...,...,...,...,...,...,...,...,...,...,...
199,3A08,3,Other unintentional injuries,Male,1373,20853,9051,8059,11744,5535,5403,5394
200,3B,2,Intentional injuries,Male,73,2744,6323,51619,52840,16023,10417,8461
201,3B01,3,Self-harm,Male,0,0,2419,12006,20843,8805,6920,6517
202,3B02,3,Interpersonal violence,Male,0,2173,3223,36051,30251,6967,3360,1851
203,3B03,3,Collective violence and legal intervention,Male,73,571,681,3563,1746,251,137,93

In [68]:
df_2019_afr_female

,code,level,cause,sex,0-28 days,1-59 months,5-14 years,15-29 years,30-49 years,50-59 years,60-69 years,70+ years
0,0,0,All Causes,Female,444077,785903,217850,220578,488315,298581,381070,745639
1,1,1,"Communicable, maternal, perinatal and nutritio...",Female,401259,647078,137786,149925,266758,88902,84228,146491
2,1A,2,Infectious and parasitic diseases,Female,22861,419973,116009,94901,183093,71140,55750,70350
3,1A01,3,Tuberculosis,Female,0,20202,8851,26165,47446,19854,11154,10294
4,1A02,3,STDs excluding HIV,Female,6197,5169,399,399,400,130,93,130
...,...,...,...,...,...,...,...,...,...,...,...,...
199,3A08,3,Other unintentional injuries,Female,1136,17855,6520,2807,4233,2643,3479,5051
200,3B,2,Intentional injuries,Female,142,2696,3487,13174,13798,5077,4291,4151
201,3B01,3,Self-harm,Female,0,0,860,3491,5467,2796,2612,2645
202,3B02,3,Interpersonal violence,Female,0,1894,1948,8866,7861,2144,1580,1431
203,3B03,3,Collective violence and legal intervention,Female,142,802,679,817,470,137,99,75

In [83]:
df_2019_afr=pd.concat([df_2019_afr_male,df_2019_afr_female],axis=0)
df_2019_afr['year']=['2019']*len(df_2019_afr)
df_2019_afr['region']=['Afr']*len(df_2019_afr)
df_2019_afr

,code,level,cause,sex,0-28 days,1-59 months,5-14 years,15-29 years,30-49 years,50-59 years,60-69 years,70+ years,year,region
0,0,0,All Causes,Male,73790,76635,32005,164393,696846,935917,1599478,4414315,2019,Afr
1,1,1,"Communicable, maternal, perinatal and nutritio...",Male,57613,40418,6042,14012,47342,35047,49584,238600,2019,Afr
2,1A,2,Infectious and parasitic diseases,Male,2072,19464,4762,10737,37548,21904,19417,37924,2019,Afr
3,1A01,3,Tuberculosis,Male,0,5052,1674,5583,12345,8521,9534,16099,2019,Afr
4,1A02,3,STDs excluding HIV,Male,1250,647,11,24,57,43,45,106,2019,Afr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,3A08,3,Other unintentional injuries,Female,1123,3124,502,890,2398,2038,2814,17466,2019,Afr
200,3B,2,Intentional injuries,Female,3,332,698,7867,15832,11144,11718,19444,2019,Afr
201,3B01,3,Self-harm,Female,0,0,335,6089,13065,10163,10875,18503,2019,Afr
202,3B02,3,Interpersonal violence,Female,0,302,327,1709,2690,948,819,922,2019,Afr
203,3B03,3,Collective violence and legal intervention,Female,3,30,35,69,77,33,24,19,2019,Afr

In [73]:
df_2019_afr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 408 entries, 0 to 203
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         408 non-null    object
 1   level        408 non-null    int64
 2   cause        408 non-null    object
 3   sex          408 non-null    object
 4   0-28 days    408 non-null    object
 5   1-59 months  408 non-null    object
 6   5-14 years   408 non-null    object
 7   15-29 years  408 non-null    object
 8   30-49 years  408 non-null    object
 9   50-59 years  408 non-null    object
 10  60-69 years  408 non-null    object
 11  70+ years    408 non-null    object
dtypes: int64(1), object(11)
memory usage: 41.4+ KB

In [87]:
df_2019_afr.to_excel('ghecode2019_cleaned_1.xlsx', sheet_name='2019 Afr', index=False)

In [86]:
['2019 Sear'.split()[-1]]*10

['Sear',
 'Sear',
 'Sear',
 'Sear',
 'Sear',
 'Sear',
 'Sear',
 'Sear',
 'Sear',
 'Sear']

In [80]:
regions=['2019 Amr', '2019 Sear','2019 Eur','2019 Emr','2019 Wpr']

In [88]:
for r in regions:
    df_2019_afr=pd.read_excel('ghecode2019.xlsx',sheet_name=r,skiprows=6)
    df_2019_afr.head()

    # both sexes
    df_2019_afr_all=df_2019_afr.iloc[4:,6:9].copy()
    df_2019_afr_all = df_2019_afr_all.reset_index(drop=True)

    df_2019_afr_all=pd.concat([df_head,df_2019_afr_all],axis=1)
    df_2019_afr_all.fillna(0, inplace=True)
    df_2019_afr_all

    # seperate sex
    df_2019_afr_male=df_2019_afr.iloc[4:,9:17].copy()

    df_2019_afr_male = df_2019_afr_male.reset_index(drop=True)
    df_2019_afr_male.columns=['0-28 days','1-59 months','5-14 years','15-29 years','30-49 years','50-59 years',
                                     '60-69 years','70+ years']
    df_head_1=df_head.copy()
    df_head_1['sex']=['Male']*len(df_2019_afr_male)
    df_2019_afr_male=pd.concat([df_head_1,df_2019_afr_male],axis=1)
    df_2019_afr_male.fillna(0, inplace=True)
    # df_2019_afr_male


    df_2019_afr_female=df_2019_afr.iloc[4:,17:].copy()
    df_2019_afr_female = df_2019_afr_female.reset_index(drop=True)
    df_2019_afr_female.columns=['0-28 days','1-59 months','5-14 years','15-29 years','30-49 years','50-59 years',
                                     '60-69 years','70+ years']
    df_head_2=df_head.copy()
    df_head_2['sex']=['Female']*len(df_2019_afr_female)
    df_2019_afr_female=pd.concat([df_head_2,df_2019_afr_female],axis=1)
    df_2019_afr_female.fillna(0, inplace=True)
    # df_2019_afr_female

    # concat both sexes
    df_2019_afr=pd.concat([df_2019_afr_male,df_2019_afr_female],axis=0)
    df_2019_afr['year']=[r.split()[0]]*len(df_2019_afr)
    df_2019_afr['region']=[r.split()[-1]]*len(df_2019_afr)
    
#     df.to_excel(excel_file_path, sheet_name='Sheet1', index=False)
    with pd.ExcelWriter('ghecode2019_cleaned_2.xlsx', engine='openpyxl', mode='a') as writer:
    # 使用 to_excel 方法将 DataFrame 导出到 Excel 文件并指定新的 sheet 名称
        df_2019_afr.to_excel(writer, sheet_name=r, index=False)

# Clean_2

In [11]:
regions=['2019 Amr', '2019 Sear','2019 Eur','2019 Emr','2019 Wpr',
         '2015 Afr','2015 Amr', '2015 Sear','2015 Eur','2015 Emr','2015 Wpr',
         '2010 Afr','2010 Amr', '2010 Sear','2010 Eur','2010 Emr','2010 Wpr',
         '2000 Afr','2000 Amr', '2000 Sear','2000 Eur','2000 Emr','2000 Wpr']

In [10]:
r='2019 Afr'
df_2019_afr=pd.read_excel('ghecode2019.xlsx',sheet_name=r,skiprows=6)
df_2019_afr.head()

# both sexes
df_2019_afr_all=df_2019_afr.iloc[4:,6:9].copy()
df_2019_afr_all = df_2019_afr_all.reset_index(drop=True)

df_2019_afr_all=pd.concat([df_head,df_2019_afr_all],axis=1)
df_2019_afr_all.fillna(0, inplace=True)
df_2019_afr_all

# seperate sex
df_2019_afr_male=df_2019_afr.iloc[4:,9:17].copy()

df_2019_afr_male = df_2019_afr_male.reset_index(drop=True)
df_2019_afr_male.columns=['0-28 days','1-59 months','5-14 years','15-29 years','30-49 years','50-59 years',
                                 '60-69 years','70+ years']
df_head_1=df_head.copy()
df_head_1['sex']=['Male']*len(df_2019_afr_male)
df_2019_afr_male=pd.concat([df_head_1,df_2019_afr_male],axis=1)
df_2019_afr_male.fillna(0, inplace=True)
# df_2019_afr_male


df_2019_afr_female=df_2019_afr.iloc[4:,17:].copy()
df_2019_afr_female = df_2019_afr_female.reset_index(drop=True)
df_2019_afr_female.columns=['0-28 days','1-59 months','5-14 years','15-29 years','30-49 years','50-59 years',
                                 '60-69 years','70+ years']
df_head_2=df_head.copy()
df_head_2['sex']=['Female']*len(df_2019_afr_female)
df_2019_afr_female=pd.concat([df_head_2,df_2019_afr_female],axis=1)
df_2019_afr_female.fillna(0, inplace=True)
# df_2019_afr_female

# concat both sexes
df_2019_afr=pd.concat([df_2019_afr_male,df_2019_afr_female],axis=0)
df_2019_afr['year']=[r.split()[0]]*len(df_2019_afr)
df_2019_afr['region']=[r.split()[-1]]*len(df_2019_afr)

df_2019_afr.to_excel('ghecode2019_cleaned_2.xlsx', sheet_name='2019 Afr', index=False)

In [12]:
for r in regions:
    df_2019_afr=pd.read_excel('ghecode2019.xlsx',sheet_name=r,skiprows=6)
    df_2019_afr.head()

    # both sexes
    df_2019_afr_all=df_2019_afr.iloc[4:,6:9].copy()
    df_2019_afr_all = df_2019_afr_all.reset_index(drop=True)

    df_2019_afr_all=pd.concat([df_head,df_2019_afr_all],axis=1)
    df_2019_afr_all.fillna(0, inplace=True)
    df_2019_afr_all

    # seperate sex
    df_2019_afr_male=df_2019_afr.iloc[4:,9:17].copy()

    df_2019_afr_male = df_2019_afr_male.reset_index(drop=True)
    df_2019_afr_male.columns=['0-28 days','1-59 months','5-14 years','15-29 years','30-49 years','50-59 years',
                                     '60-69 years','70+ years']
    df_head_1=df_head.copy()
    df_head_1['sex']=['Male']*len(df_2019_afr_male)
    df_2019_afr_male=pd.concat([df_head_1,df_2019_afr_male],axis=1)
    df_2019_afr_male.fillna(0, inplace=True)
    # df_2019_afr_male


    df_2019_afr_female=df_2019_afr.iloc[4:,17:].copy()
    df_2019_afr_female = df_2019_afr_female.reset_index(drop=True)
    df_2019_afr_female.columns=['0-28 days','1-59 months','5-14 years','15-29 years','30-49 years','50-59 years',
                                     '60-69 years','70+ years']
    df_head_2=df_head.copy()
    df_head_2['sex']=['Female']*len(df_2019_afr_female)
    df_2019_afr_female=pd.concat([df_head_2,df_2019_afr_female],axis=1)
    df_2019_afr_female.fillna(0, inplace=True)
    # df_2019_afr_female

    # concat both sexes
    df_2019_afr=pd.concat([df_2019_afr_male,df_2019_afr_female],axis=0)
    df_2019_afr['year']=[r.split()[0]]*len(df_2019_afr)
    df_2019_afr['region']=[r.split()[-1]]*len(df_2019_afr)
    
#     df.to_excel(excel_file_path, sheet_name='Sheet1', index=False)
    with pd.ExcelWriter('ghecode2019_cleaned_2.xlsx', engine='openpyxl', mode='a') as writer:
    # 使用 to_excel 方法将 DataFrame 导出到 Excel 文件并指定新的 sheet 名称
        df_2019_afr.to_excel(writer, sheet_name=r, index=False)